.collection-nft-container{
    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(50px);
    min-height: 619px;
    padding-top: 5%;
}


.collection-nft-container .wrapped-items{
    display: flex;
    justify-content: space-between;
}


.collection-nft-container .title{
    font-family: Integral CF,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    
    
    color: #000000;
}


.collection-nft-container .item{
    width: 33.33%;
    margin-top: 2%;
}



.upper-image-section{
    display: flex;
    justify-content: space-between;
}

.upper-image-section .main-painting{
    width: 60%;
    min-width: 265.85px;
}

.upper-image-section .main-painting img{
    max-width: 265.85px;
    min-height: 272.27px;
    border-radius: 11.0008px;
}

.upper-image-section .main-painting img:hover{
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

.upper-image-section .list-of-paintings{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 272.27px;
}

.upper-image-section .list-of-paintings img{
    width: 103.59px;
    height: 75.26px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 12px;
}

.upper-image-section .list-of-paintings img:hover{
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}


.lower-detail-section .label{
    min-width: 187px;
    font-family: DM Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    
    
    color: #000000;
}


.lower-detail-section .information{
    display: flex;
    min-width: 379px;
}

.lower-detail-section .information:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.information .profile{
    width: 60%;
    font-family: DM Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
    color: #000000;
}




.information .profile img{
    margin-right: 5px;
}


.information button{
    width: 40%;
    padding: 1px 2px;
    
    max-width: 98px;
    min-height: 29px;

    
    border: 1px solid #2639ED;
    box-sizing: border-box;
    border-radius: 60px;

    font-family: DM Sans,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11.0008px;
    line-height: 14px;
    
    
    color: #2639ED;
    

}

.information button:hover{
    background-color: #2639ED;
    color: white;
}

@media (max-width: 1000px) {
    .collection-nft-container .wrapped-items{
      flex-direction: column;
      justify-content: space-between;
    }
  }