.App {
  text-align: center;
}

body{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}



@media (max-width: 1000px) {
  body {
    flex-direction: column;
    justify-content: space-between;
  }
}



